<!DOCTYPE html>
<html lang="{{ .Site.LanguageCode }}">
    <head>
        <link rel="stylesheet" href="{{ "css/404.min.css" | absURL}}">
        <script src="{{ "js/404.min.js" | absURL}}"></script>
        {{ partial "head.html" . }}
    </head>
    <body>
        <div id="background">
            {{ partial "circles.html" . }}
            <div id="shifting-background" />
        </div>
        <div id="vignette" />
        <div>
            <div id="title-wrapper">
                <div id="title">
                    404
                </div>
                <div id="animated-title">
                    404
                </div>
            </div>
        </div>
        {{ partial "footer.html" . }}
    </body>
</html>