<!DOCTYPE html>
<html lang="{{ .Site.LanguageCode }}">
    <head>
        <link rel="stylesheet" href="{{ "css/index.min.css" | relURL}}">
        <script src="{{ "js/index.min.js" | relURL}}"></script>
        {{ partial "head.html" . }}
    </head>
    <body>
        <div style="display: flex; justify-content: center;">
            <svg id="menu-wrapper">
                {{ partial "baseMenu.html" . }}
                <polygon class="menu-item unscalable"
                  points="154,16 173,30 154,44"
                  fill="#FFF"
                />
                <rect class="menu-item unscalable"
                  x="174"
                  y="18"
                  width="4"
                  height="24"
                  fill="#FFF"
                />
                <rect class="menu-item unscalable" onclick='(function(){
                      const p = [];
                      {{ range (shuffle .Site.Menus.main) }}
                        {{ if .HasChildren }}
                          {{ $cp := index .Children 0 }}
                          p.push("{{ $cp.URL }}{{ $cp.Identifier }}".replace(/(\s|")/gm,""));
                        {{ else }}
                          p.push("{{ .URL }}{{ .Identifier }}".replace(/(\s|")/gm,""));
                        {{ end }}
                      {{ end }}
                      link(p[Math.floor(Math.random() * (p.length))]);
                  })();'
                  x="157"
                  y="16"
                  width="27"
                  height="27"
                  fill-opacity="0"
                />
                Please use a browser that supports inline SVG
              </svg>
          </div>
        <div id="background">
            {{ partial "circles.html" . }}
            <div id="shifting-background" />
        </div>
        <div id="vignette" />
        <div>
            <div id="title-wrapper">
                <div id="title">
                    {{ .Title }}
                </div>
                <div id="subtitle">
                    {{ .Site.Params.subtitle }}
                </div>
                <div id="animated-title">
                    {{ .Title }}
                </div>
                <div id="animated-subtitle">
                    {{ .Site.Params.subtitle }}
                </div>
                <div id="navigate" onclick="revealPosts()">
                    <span>{{ .Site.Params.navigationText }}</span>
                    <span>
                        {{ partial "navigate.html" . }}
                    </span>
                </div>
            </div>
            <div id="posts">
                {{ range .Site.Menus.main }}
                <div class="post">
                  <div class="post-title">
                      <span>{{ .Name }}</span>
                  </div>
                  <div class="description-wrapper">
                    <div class="post-description">
                      {{ with .Params.description }}{{ . }}{{ end }}
                    </div>
                    <div style="text-align: right;">
                      {{ if not .HasChildren }}
                        <span onclick="link('{{ .URL }}{{ .Identifier }}')">
                          {{ partial "navigate.html" . }}
                        </span>
                      {{ else }}
                        <table class="chapters">
                          {{ range .Children }}
                            <tr>
                              <td>
                                {{ .Weight }}
                              </td>
                              {{  if .Params.description }}
                                <td width="90%">
                                  <table class="chapters" style="width: 100%;">
                                    <tr>
                                      <td class="td-hidden-at-small" width="10%">
                                        {{ partial "bracketRight.html" . }}
                                      </td>
                                      <td width="90%">
                                        <div class="post-description" style="padding-right: 2%">
                                          {{ with .Params.description }}{{ . }}{{ end }}
                                        </div>
                                      </td>
                                      <td class="td-hidden-at-small" width="10%">
                                        {{ partial "bracketLeft.html" . }}
                                      </td>
                                    </tr>
                                  </table>
                                </td>
                              {{ else }}
                                <td width="80%">
                                  <hr style="border-top:none;border-bottom:dotted;border-right:none;border-left:none;" />
                                </td>
                              {{ end }}
                              <td>
                                <span onclick="link('{{ .URL }}{{ .Identifier }}')">
                                  {{ partial "navigate.html" . }}
                                </span>
                              </td>
                            </tr>     
                          {{ end }}
                        </table>
                      {{ end }}
                    </div>
                  </div>
                </div>
                {{ end }}
            </div>
        </div>
        {{ partial "footer.html" . }}
    </body>
</html>